#header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
#header ul{
	background-color: #1abc9c;
	margin: 0;
	padding: 0.2em;
	overflow: hidden;
}
#header li {
	padding-left: 3%;
	display: inline;
}


#header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#header a:hover {
  color: #222;
}
#footer {
  background-color: #2f2f2f;
  padding: 0.5em 0;
}
.column {
  min-width: 15em;
  display: inline-block;
  vertical-align: top;
  margin-left: 2em;
}
#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#footer p {
  color: white;
}
a {
  color: #1abc9c;
  text-decoration: none;
}
a:hover {
  color: #F6A623;
}
.post {
  width: 74%;
	display: inline-block;
}
.post-author img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
h1, h2, h3, h4 {
  color: #333;
}
p {
  line-height: 1.5;
}
.about {
  text-align: center;
}
.post-author img, .about-author img {
  border-radius: 50%;
}
#donate {
  background-color: #CCCCCC;
	width: 100%;
	display: block;
	margin: auto;
	padding-top: 5%;
	padding-bottom: 5%;
}

#special {
	background-color:#2f2f2f;
}
.intro {
	background-color: #CCCCCC;
	width: 80%;
	margin: auto;
	border-style: outset;
}

.profile {
	border-radius: 75%;
	display: block;
	margin: auto;
}

.olddog {
	padding-top: 0em;
}

.top {
	text-align: center;
	margin: 5% 0 5% 0 0;
	font-size: 2.5em;
	width: 100%;
	font-family: STKaiti,"华为楷体"，sans-seri;
}

.head-description {
	margin-left: 1.875em;
}

.description-details {
	text-align: center;
	font-family: arial h;
	font-size: 130%;
	width: 100%;
}
.details {
	color: aliceblue;
	margin-left: 40px;
}
.lks {
	width: 100%;
	overflow-x: hidden;
}
body {
	margin: 0;
}
.display-index img{
	border-radius: 50%;
	margin-left: 1%;
}
.display-index {
	text-align: center;
	margin-top: 1%;
}
.display-index-images {
	opacity: 1.0;
	transition-property: all;
	transition-duration: 2s;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	filter: alpha(opacity=100);
}
.display-index-images:hover {
	opacity: 0.2;
	filter: alpha(opacity=30);
}

.presentation {
	text-align: center;
	font-size: 150%;
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	margin-top: 5%;
	margin-bottom: 10%;
}

.display img{
	border-style: solid;
	border-color: white;
	border-width: 5px;
}
.guide-line {
	font-size: 150%;
	font-weight: bold;
	display: block;
}
.guide-line li {
	float: left;
}

.about-author {
	display: inline;
}

.special-aboutauthor-images {
	margin-left: 40px;
	}

.special-aboutauthor-images-girl {
	margin-right: 40px;
}

.special-about-title {
	color:lightslategray;
	margin-left: 10%;
	font-size: 300%;
}

.info-presentation {
	margin-left: 15%;
	padding: 2% 0 2% 2%;
	font-size: 200%;
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	text-indent: 2%;
}
.info-presentation li {
	margin: 2% 0 2% 0;
}


.left-menu {
	display: inline-block;
	width: 25%;
	background-color: #f1f1f1;
	vertical-align: top;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.left-menu:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.left-menu ul{
	list-style-type: none;
}
.left-menu a{
	display: block;
}
#content a {
	text-decoration: none;
}


.index-list {
	font-size: 200%;
	font-family: Tahoma;
	padding-top: 0.5em;
}
.left-menu li a{
	display: block;
	padding: 0.1em 0.1em 0.1em;
	margin-left: 5%;
	color: black;
}
.left-menu li a:link {
	display: block;
	color: black;
}
.left-munu li a:visited {
	display: block;
	background-color: #555;
	color: white;
	font-size: 120%;
}
.left-menu li a:hover {
	display: block;
	background-color: #555;
	color: white;
	font-size: 115%;
}
.first-letter {
	font-size: 2.5em;
	color: gray;
}

.magicname {
	text-align: center;
}
.post-speical {
	padding-top: 0;
}
#404-content {
	width: 80%;
}
#404-content p{
	text-align: center;
}

.special-404-title {
	text-align: center;
	font-size: 300%;
	margin-top: 2%;
	margin-bottom: 2%;
}
.fa-warning {
	margin-top: 1em;
}
#fourzerofourcontent {
	text-align: center;
}

.fourpresentation {
	font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
	font-size: 170%;
	line-height: 2;
}

.fourzerofourimages {
	width: 35%;
	border-radius: 50%;
	margin-top: 2%;
}

.dropbtn {
	display: inline-block;
}

.dropdown {
	display: inline-block;
	padding-left: 3%;
	overflow: hidden;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 4em;
	box-shadow: 0em 0em 1em 0em rgba(0,0,0,0.2);
	background-color: #1abc9c;
	margin-left: 1.7em;
	margin-top: 0.1em;
	padding-left: 1em;
	font-size: 0.7em;
	padding-right: 0.5em;
}
.dropdown-content a {
	color: white;
	padding: 0.5em 0em 0.5em 0em;
	display: block;
}
.dropdown-content a:hover {
	color: black;
}
.dropdown:hover .dropdown-content{
	display: block;
}

.search {
	
}

.members-post {
	  width: 100%;
	display: inline-block;
}

.files {
	width: 100%;
	background-color: #1abc9c;
	font-size: 150%;
}

.uniquefile {
	width: 80%;
	margin: 0;
	margin-left: 10%;
	margin-top: 1em;
}
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 80%;
  height: auto;
	border-radius: 50%;
	margin: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 80%;
	margin: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: #1abc9c;
	border-radius: 50%;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
input[type=text] {
    width: 60%;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 75%;
	background: url(images/search_24px_504760_easyicon.net.png);
	background-position: 5% 0%;
    background-color: white; 
    background-repeat: no-repeat;
    padding: 1% 5% 1% 15%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.formserch input[type=text] {
	margin-left: 30%;
}
input[type=text]:focus {
    width: 100%;
}
.formserch {
	display: inline-block;
}
@media screen and (max-width: 600px) {
	#page{ width: 450px; }.left-menu{width: 100%}.iframeindex{width: 100%}
   .guide-line, .formserch input[type=text] {
    float: none;
    display: block;
    text-align: left;
    margin: 0;
    padding: 14px;
  }
	#donate {
		display: none;
	}
	#header {
		position: static;
	}
		.display-index img{
		width: 25%;
	}
	#header li {
		width: 100%;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	.head-nav {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.left-menu .warning {
		display: block;
	}
	.donateitem .warning {
		display: block;
	}
	.formserch {
		display: none;
	}
}

.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
	font-size: 100%;
	font-size: 120%;
}
.warning {
	display: none;
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
	font-size: 100%;
	font-size: 120%;
}
.display img{
	display: inline-block;
	margin: 2% 2% 2% 2%;
}
.linkcontainer {
	width: 90%;
	display: block;
	margin: auto;
}

.info-about-author {
	width: 100%;
	display: block;
	margin: auto;
}

.elcskins {
	border-radius: 50%;
}

.info-about {
	margin-top: 2%;
}

.description {
	margin-left: 5%;
	font-size: 180%;
	text-indent: 5%;
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
}
.donatecode {
	width: 90%;
	display: block;
	margin: auto;
}
#public {
	width: 100%;
	margin: auto;
	background-color: white;
}

.publiccontainer {
	width: 90%;
	margin: auto;
	background-color: #D8D6D8;
}

.block {
	
}

.donateimg {
	width: 28%;
	height: 28em;
	margin: 0 2% 0 2%;
	border: outset;
}
